<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-password.css">
    <title>Resset Password</title>
</head>
<body>
    <div class="container">
        <h1>Formulario para Recuperar Password</h1>
        {{token}}
        <form  id="resetPasswordForm">
            <label for="password">Ingrese la Nueva Contraseña</label>
            <input id="input-pass" type="password" name="password">
            <button onclick="handleSubmit(event)">Enviar</button>
        </form>
    </div>
    <script>
        const handleSubmit = (event) =>{
            event.preventDefault();
            console.log("HOLA MUNDO")
              const token = '{{token}}';
            console.log(token)
            const new_password = document.getElementById("input-pass").value;
            console.log(new_password)
            const cuerpo = {
                new_password
            }
             try{
                const header = {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
                fetch('execute-reset-password', {method: 'PUT', headers: header, 
                body: JSON.stringify(cuerpo)}
                 ).then(res => {
                    resp = res.json()
                    console.log(resp)})
           

            }catch(error){
                console.log(error);
            }


        }

    </script>
</body>
</html>